<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<div style="float: left; width: 50%">
  <button style="float: left" (click)="getRssFeedDataGadgets360()">
    Get Gadgets360 News
  </button>
  <div *ngIf="feeds">
    <button *ngFor="let feed of feeds" (click)="getDataFromFeed(feed.id)">{{feed.title}}</button>
  </div>
  <h5 *ngIf="!RssData&&!FeedData">There is an error while getting xml</h5>
<!--  <h5 *ngIf="!FeedData.feed.channel">There is an error while getting feed</h5>-->
  <div *ngIf="RssData && !FeedData">
    <h2>
      {{RssData?.rss.channel[0].title[0]}}
    </h2>
    Total Item: {{RssData?.rss.channel[0].item.length}}
    <ul>
      <li *ngFor="let rss of RssData?.rss.channel[0].item"><a href="{{rss.link[0]}}">{{rss.title[0]}}</a></li>
    </ul>
  </div>
  <div *ngIf="FeedData">
  <h2>
    {{ FeedData.feed?.title}}
  </h2>
  <p>
    Total Item:
    {{ FeedData.feed?.entry.length}}
  </p>
  <ul>
    <li *ngFor="let feed of FeedData.feed?.entry"><a href="{{feed.link[0].$.href}}" target="_blank">{{feed.title[0]}}</a></li>
  </ul>
</div>
</div>
<router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


